$primary-color: #062d5e;
$danger-color: #dc3545;


div.register {
    text-align: center;
    height: auto;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid $primary-color;
    border-radius: 16px;
    width: 80vw;
    margin-top: 2rem;
    

        h1 {
            margin-top: 24px;
        }

        form {
            padding: .8rem;
            display: grid;
        }

        label {
            padding: 0.3rem;        
        }

        input {
            margin: 8px;
            width: 40vw;            
            outline: none;
            padding: .3rem;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            border-radius: 10px;
            border: darkgoldenrod;
            cursor: pointer;
            width: 16vw;
            margin-top: 8px;
            text-align: center;
            justify-self: center;
            outline: none;
            font-weight: 500;
            background-color: darkgoldenrod;
            color: white;
            padding: .3rem;
            font-size: .8rem;
        }

        a {
            text-decoration: underline;
            text-decoration-line: 3px;
            text-decoration-color: darkgoldenrod;
            color: black;
        }
}

div.alert.alert-danger {
    background: $danger-color;
    border-radius: 16px;
    color: #fff;
    margin-top: 3rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    text-align: center;
    padding:.8rem;
    // width: 80px;
};